* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: #2B2B2B;
}

.creators {
  padding: 80px 195px 80px 195px;
}

.creator__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creator__wrapper-control > h1 {
  color: #fff;
  font-size: 38px;
}

.creator__wrapper-control > p {
  color: #d3d0d0;
  font-size: 22px;
  font-weight: 300;
  margin-top: 10px;
}

.creator__btn > button {
  padding: 15px 50px 15px 50px;
  background-color: #2B2B2B;
  color: #A259FF;
  border: 1px solid #A259FF;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 30px;
}
.creator__btn > button:hover {
  color: #ffffff;
  background-color: #A259FF;
}

.creators__card {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  gap: 25px;
}

.creators__card-control {
  padding: 20px 60px 20px 60px;
  width: 240px;
  height: 238px;
  border: none;
  border-radius: 20px;
  background-color: #3B3B3B;
  margin-top: 80px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
  max-width: 200px;
  display: flex;
}

.title > p {
  font-size: 13px;
  font-weight: 300;
  color: #807f7f;
  text-align: center;
}

.title > b {
  font-size: 13px;
  font-weight: 300;
  color: #fff;
}

.creators__card-control > h4 {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.creators__card-control > p {
  font-size: 13px;
  font-weight: 300;
  color: #807f7f;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media only screen and (max-width: 767px) {
  .creators {
    padding: 40px 195px 40px 195px;
  }
  .creator__wrapper {
    max-width: 100%;
    margin: 0 auto;
  }
  .creator__wrapper-control > h1 {
    font-size: 26px;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }
  .creator__btn > button {
    padding: 10px 40px 10px 40px;
  }
  .creators__card-control > img {
    width: 40px;
    height: 40px;
  }
  .creators__card {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: 30px;
    max-width: 400px;
  }
  .creators__card-control {
    width: 330px;
    height: 100px;
  }
}
@media only screen and (max-width: 540px) {
  .creators {
    padding: 40px 50px 40px 50px;
  }
  .creator__wrapper {
    max-width: 85%;
    margin: 0 auto;
  }
  .creators__card {
    grid-template-columns: 300px;
    grid-template-rows: auto;
  }
  .creator__wrapper > h1 {
    max-width: 100%;
  }
}
.browes {
  padding: 80px 195px 80px 195px;
}

.browes__wrapper > h1 {
  color: #fff;
  font-size: 38px;
  font-weight: 600;
}

.browers__control {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;
  gap: 20px;
}

.browes__card {
  width: 240px;
  height: 316px;
  background-color: #3B3B3B;
  border-radius: 20px;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.browes__card > h4 {
  color: #fff;
  padding: 20px;
}

@media only screen and (max-width: 767px) {
  .browes {
    padding: 40px 0px 40px 0px;
  }
  .browes__wrapper > h1 {
    font-size: 26px;
    display: flex;
    justify-content: center;
  }
  .browers__control {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
  }
}
@media only screen and (max-width: 540px) {
  .browes {
    padding: 20px 20px 20px 20px;
  }
  .browes__wrapper > h1 {
    font-size: 26px;
    display: flex;
    justify-content: center;
  }
  .browers__control {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: 30px;
  }
}
.discover {
  padding: 80px 195px 80px 195px;
}

.discover__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discover__wrapper-control > h1 {
  color: #fff;
  font-size: 38px;
}

.discover__wrapper-control > p {
  color: #d3d0d0;
  font-size: 22px;
  font-weight: 300;
  margin-top: 10px;
}

.discover__btn > button {
  padding: 15px 50px 15px 50px;
  background-color: #2B2B2B;
  color: #A259FF;
  border: 1px solid #A259FF;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 30px;
}
.discover__btn > button:hover {
  color: #ffffff;
  background-color: #A259FF;
}

.disciver__card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 60px;
}

.discover__card-control {
  width: 330px;
  height: 469px;
  background-color: #3B3B3B;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card__title {
  padding: 20px;
}
.card__title p {
  color: #bcbbbb;
  font-size: 14px;
  margin-top: 10px;
}
.card__title b {
  font-size: 12px;
  color: #eceaea;
  margin-top: 10px;
}

.card__title > h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.card__img {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card__img img {
  margin-top: 10px;
}
.card__img p {
  color: #bcbbbb;
  font-size: 14px;
}

.price {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .discover {
    padding: 40px 195px 40px 195px;
  }
  .discover__wrapper > h1 {
    font-size: 26px;
  }
  .disciver__card {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 540px) {
  .discover {
    padding: 40px 50px 40px 50px;
  }
  .disciver__card {
    flex-wrap: wrap;
    gap: 30px;
  }
}
.nav {
  padding: 20px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav__list > li > a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}
.nav__list > li > a:hover {
  color: #A259FF;
}

.nav__btn > button {
  padding: 15px 30px 15px 30px;
  background-color: #A259FF;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.nav__btn > button:hover {
  color: #A259FF;
  background-color: #fff;
}

.hamburger-menu {
  background-color: transparent;
  width: 40px;
  height: 40px;
  font-size: 26px;
  border: none;
  display: none;
  padding: 10px;
}

.hero {
  padding: 80px 195px 80px 195px;
}

.hero__content {
  display: flex;
  justify-content: space-between;
}

.hero__left {
  max-width: 460px;
}

.hero__left > h1 {
  color: #fff;
  font-size: 67px;
  font-weight: 600;
}

.hero__left > p {
  color: #bbbbbb;
  font-size: 22px;
  font-weight: 300;
  margin-top: 30px;
}

.hero__left > button {
  padding: 15px 60px 15px 60px;
  background-color: #A259FF;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 30px;
}
.hero__left > button:hover {
  color: #A259FF;
  background-color: #fff;
}

.hero__right {
  width: 510px;
  height: 510px;
  border-radius: 20px;
  background-color: #3B3B3B;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.hero__right > h4 {
  margin: 15px;
  font-size: 22px;
  color: #fff;
}

.hero__right-img {
  display: flex;
  margin: 15px;
  gap: 15px;
  align-items: center;
}

.hero__right-img > p {
  color: #bbbbbb;
  font-size: 14px;
  font-weight: 300;
}

@media only screen and (max-width: 1023px) {
  .nav__list {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .hero {
    padding: none;
  }
}
@media only screen and (max-width: 767px) {
  .hero {
    padding: 80px 20px 80px 20px;
  }
  .hero__right {
    width: 330px;
    height: 330px;
  }
  .hero__img {
    width: 330px;
    height: 221px;
  }
  .hero__left > h1 {
    font-size: 38px;
    font-weight: 600;
  }
  .hero__left > p {
    font-size: 14px;
    font-weight: 200;
  }
  .hero__left {
    width: 330px;
    height: 330px;
  }
  .hero__left > button {
    padding: 5px 40px 5px 40px;
  }
  .hero__content {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 540px) {
  .hero {
    padding: 40px 40px 40px 40px;
  }
  .hero__left > h1 {
    font-size: 22px;
  }
  .hero__left > button {
    padding: 10px 100px 10px 100px;
    display: flex;
    justify-content: center;
  }
  .hero__content {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero__right {
    width: 330px;
    height: 330px;
  }
}
.join {
  padding: 40px 195px 40px 195px;
}
.join .join__card {
  max-width: 100%;
  height: 430px;
  background-color: #3B3B3B;
  border-radius: 20px;
}

.card__control {
  display: flex;
  justify-content: center;
  gap: 100px;
}
.card__control img {
  margin-top: 65px;
  width: 425px;
  height: 310px;
}

.join__input h1 {
  max-width: 350px;
  font-size: 38px;
  font-weight: 600;
  color: #fff;
  margin-top: 90px;
}
.join__input p {
  font-size: 22px;
  font-weight: 300;
  max-width: 400px;
  color: #d5d5d5;
  margin-top: 20px;
}

.input_apple {
  width: 420px;
  height: 60px;
  display: flex;
  gap: 50px;
  background-color: #FFFFFF;
  border-radius: 20px;
  margin-top: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.input_apple input {
  max-width: 149px;
  height: 26px;
  margin-top: 19px;
  margin-left: 25px;
  border: none;
}
.input_apple button {
  padding: 25px 70px 30px 78px;
  border: none;
  border-radius: 20px;
  background-color: #A259FF;
  color: #FFFFFF;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .join {
    padding: 40px 0px 80px 0px;
  }
  .join__card {
    max-width: 80%;
    height: 400px;
  }
  .card__control > img {
    width: 300px;
    height: 200px;
  }
}
@media only screen and (max-width: 545px) {
  .join {
    padding: 40px 50px 40px 50px;
  }
  .join__card {
    max-width: 80%;
    height: 400px;
  }
  .join__input h1 {
    font-size: 24px;
    max-width: 250px;
  }
  .join__input p {
    font-size: 14px;
    max-width: 200px;
  }
  .card__control > img {
    display: none;
  }
  .input_apple {
    width: 200px;
    flex-wrap: wrap;
  }
  .input_apple button {
    padding: 20px 80px 20px 80px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.footer__all {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 35.2px;
  font-family: monospace;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: rgb(204, 204, 204);
}
.footer__text__link {
  display: flex;
  gap: 10px;
  color: rgb(204, 204, 204);
}
.footer__btn {
  width: 100%;
  max-width: 330px;
  height: 46px;
  background-color: rgb(162, 89, 255);
  border-radius: 20px;
  border: none;
  color: rgb(255, 255, 255);
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.footer__bottom__title {
  height: 33px;
  display: flex;
  justify-content: center;
}
.footer__bottom__text {
  width: 95%;
  padding: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  color: rgb(204, 204, 204);
  border-top: 1px solid rgb(133, 133, 132);
}

@media (min-width: 992px) {
  .footer {
    background-color: #3B3B3B;
    display: flex;
    gap: 20px;
  }
  .footer__all {
    display: flex;
    flex-direction: row;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__card {
    width: 30%;
    text-align: left;
  }
  .footer__title {
    font-size: 24px;
    color: #fff;
  }
  .footer__text {
    width: 80%;
    font-size: 18px;
    color: #fff;
  }
  .footer__text__link {
    justify-content: left;
  }
}/*# sourceMappingURL=style.css.map */